.form {
  padding-left: 50px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.label__input {
  margin-top: 10px;

  max-width: 200px;
}

.button__add {
  width: 200px;
  color: green;
  background-color: transparent;
  border-color: green;
  border-radius: 5px;
}

.button__add:hover,
.button__add:focus {
  color: white;
  background-color: green;
}
