.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;

  height: 50px;
}

.logo {
  margin-right: 10px;
  color: black;
}

.logo:hover,
.logo:focus {
  color: #f69a73;
}
