@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: 'Sono', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(255, 205, 165);
  background: linear-gradient(
    90deg,
    rgba(255, 205, 165, 1) 35%,
    rgba(238, 77, 95, 1) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
